@import "main-style";

/* start slider */
.slider{
	.myslider{
		position: relative;
		/* slider 1 style */
		.slider1{
			background-image: url('../images/home/slider1.jpg');
			background-size: cover;
            image-rendering: -webkit-optimize-contrast;
			height: 420px;
			overflow: hidden;
            @include responsive(big-phone-screen){background-position: center;}
			.overlay1{@extend %overlayBlack;}
			.overlay2{
                @extend %halfOverlayBlue;
                @include responsive(small-phone-screen){width: 70%;}
            }
			.slider-info{
				position: relative;
				width: 50%;
				padding: 20px 10px 10px 50px;
                @include responsive(big-phone-screen){padding-left: 21px;}
                @include responsive(small-phone-screen){width: 70%;}
                .title{
                    @extend %headingStyle2-v2;
                    border-left: 0;
                    padding: 0;
                }
				p{
					color: $maincolor4;
					margin-bottom: 40px;
                    max-height: 300px;
                    overflow-y: hidden;
                    @include responsive(big-phone-screen){height: 130px;overflow-y: scroll}
				}
				.check-btn{
                    display: inline-block;
					text-decoration: none;
					font-size: $fontsize4;
                    background-color: $overlaycolorshade;
					color: $maincolor4;
					padding: 10px 40px;
					text-transform: capitalize;
					transition: all 0.3s ease-in-out;
					&:hover{color: $maincolor2;}
                    @include responsive(medium-screen){font-size: $fontsize5;}
                    @include responsive(tablet-screen){font-size: $fontsize5;}
                    @include responsive(big-phone-screen){font-size: $fontsize7;}
				}/* end check-btn */
			}/* end slider-info */
		}/* end slider1 */
		/* slider 2 style */
		.slider2{
			background-image: url('../images/home/slider2.jpg');
			background-size: cover;
            image-rendering: -webkit-optimize-contrast;
			height: 420px;
			overflow: hidden;
            @extend %center-the-items-inside-me;
            @include responsive(big-phone-screen){padding: 0 10px;}
			.overlay{@extend %overlayBlue;}
			.slider-info{
				position: relative;
				h3{
					text-transform: uppercase;
					color: $maincolor5;
                    margin-bottom: 8px;
					span{
                        display: inline-block;
						color: $maincolor5;
                        background-color: $maincolor2;
                        padding: 5px 6px;
                        margin-right: 3px;
					}
                    @include responsive(tablet-screen){line-height: 43px;}
                    @include responsive(big-phone-screen){line-height: 36px;}
				}
				p{
					color: $maincolor4;
					margin-bottom: 15px;
				}
				.watch-btn{
                    display: inline-block;
					text-decoration: none;
					font-size: $fontsize4;
					background-color: $overlaycolorshade;
					color: $maincolor4;
					padding: 10px 40px;
					text-transform: capitalize;
					transition: all 0.3s ease-in-out;
					&:hover{color: $maincolor2;}
                    @include responsive(medium-screen){font-size: $fontsize5;}
                    @include responsive(tablet-screen){font-size: $fontsize5;}
                    @include responsive(big-phone-screen){font-size: $fontsize7;}
				}/* end watch-btn */
			}/* end slider-info */
		}/* end slider 2 */	
	}/* end myslider */
	/* the carousel navs */
	.owl-carousel{
		.owl-nav{
            @include responsive(big-phone-screen){display: none;}
			.owl-prev{
				@extend %myslidernav;
				left: -41px;
			}
			.owl-next{
				@extend %myslidernav;
				right: -41px;
			}
		}/* end owl-nav */
	}/* end owl-carousel */
}/* end slider */


/* start global info */
.gi{
	@extend %global-sections-css;
	.single-gi{
		h4{
			text-transform: uppercase;
			color: $maincolor2;	
		}
        p{
            margin: 0;
            color: black;
        }
        img{
            -webkit-filter: grayscale(0) brightness(0.25) contrast(1.05);
            -moz-filter: grayscale(0) brightness(0.25) contrast(1.05);
            -ms-filter: grayscale(0) brightness(0.25) contrast(1.05);
            filter: grayscale(0) brightness(0.25) contrast(1.05);
        }
        span{
            font-size: $fontsize4;
            color: black;
            margin-left: 5px;
            
            @include responsive(medium-screen){
                font-size: $fontsize5;
            }
        }
	}
    .single-gi:first-child{
        border-right: 1px solid $maincolor2;
        @include responsive(tablet-screen){border-right: 0;}
        @include responsive(big-phone-screen){border-right: 0;}
    }

}

/* end global info */

/* start recent games */
.rg{
    @extend %global-sections-css;
    h3{@extend %mainhead;}
    /* start games list */
    .gameslist{
        position: relative;
        .gamebox-outer{
            .gamebox-inner{
                position: relative;
                margin-bottom: 30px;
                .image{
                    position: relative;
                    width: 100%;
                    overflow: hidden;
                    img{@extend %normal-image-style;}
                    /* overlay on the image when hovering */
                    .overlay{
                        @extend %overlayBlue;
                        text-align: center;
                        padding-top: 83px;
                        opacity: 0;
                        transition: all 0.3s ease-in-out;
                        @include responsive(tablet-screen){
                            text-align: left;
                            padding: 144px 10px 0 10px;
                            opacity: 1;
                            background:transparent;
                        }
                        @include responsive(big-phone-screen){
                            text-align: left;
                            padding: 173px 10px 0 10px;
                            opacity: 1;
                            background:transparent;
                        }
                        @include responsive(medium-phone-screen){padding-top: 144px}
                        @include responsive(small-phone-screen){padding-top: 106px;}
                        span{
                            text-transform: uppercase;
                            font-size: $fontsize6;
                            color: $maincolor2;
                            background-color: $overlaycolorshade;
                            padding: 5px 15px;
                            margin: 0 2px;
                            cursor: default;
                            text-shadow: 0 0 6px $maincolor2;
                            @include responsive(tablet-screen){
                                font-size: $fontsize7;
                                color: $maincolor4;
                                border-color: $maincolor2;
                                padding: 2px 10px;
                                background-color: $maincolor2;
                                text-shadow: 0;
                            }
                            @include responsive(big-phone-screen){
                                font-size: $fontsize7;
                                color: $maincolor4;
                                border-color: $maincolor2;
                                padding: 2px 10px;
                                background-color: $maincolor2;
                                text-shadow: 0;
                            }                        
                        }
                    }
                    /* a bar in the bottom of the image */
                    .fixedbar{
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        background-color: $maincolor2;
                        color: $maincolor4;
                        width: 100%;
                        padding: 8px 12px;
                        text-transform: capitalize;
                        font-size: $fontsize7;
                        i{
                            margin-right: 3px;   
                        }
                        a{
                            float:right;
                            text-decoration: none;
                            color: $maincolor4;
                            &:hover{text-decoration: underline;}
                        }
                    }
                    &:hover{
                         .overlay{opacity: 1;}                       
                    } 
                    @include responsive(medium-screen){height: 203px;}
                }
                /* the info part style */
                .info{
                    padding: 10px 5px 8px 12px;
                    border-left: 1px solid $maincolor3;
                    border-right: 1px solid $maincolor3;
                    border-bottom: 1px solid $maincolor3;
                    h4{
                        margin: 0;
                        text-transform: capitalize;
                        a{
                            display: block;
                            text-decoration: none;
                            color: $maincolor1;
                            transition: all 0.3s ease-in-out;
                            &:hover{
                                color: $maincolor2;
                            }
                        }   
                    }
                    span{
                        color: $maincolor2;
                        font-size: $fontsize7;
                    }
                    p{
                        width: 100%;
                        max-width: 100%;
                        color: $graycolor2;
                        margin-top: 10px;
                    }    
                }
            }/* end  gamebox-inner */
        }/* end gamebox-outer */
    }
    /* end games list*/
    
    .more-games-btn{@extend %more-btn;}
}
/* end recent games */

/* start latest blogs */
.lb{
    @extend %global-sections-css;
    h3{@extend %mainhead;}
    .blogslist{
        position: relative;
        .postbox{
            position: relative;
            padding-bottom: 16px;
            margin-bottom: 16px;
            @include responsive(medium-screen){
                padding-bottom: 22px;
                margin-bottom: 22px;
            }
            @include responsive(tablet-screen){
                padding-bottom: 30px;
                margin-bottom: 30px;
            }
            @include responsive(big-phone-screen){
                padding-bottom: 30px;
                margin-bottom: 30px;
            }
            /* newsbox image style */
            .image{
                position: relative;
                @include responsive(big-phone-screen){
                    float: none;
                    margin: auto;
                    margin-bottom: 10px;
                }
                .bottombar{
                    position: absolute;
                    z-index: 3;
                    bottom: 0;
                    left: 0;
                    background-color: $overlaycolor1;
                    color: $maincolor4;
                    width: 100%;
                    padding: 8px 12px;
                    text-transform: capitalize;
                    font-size: $fontsize7;
                    span{
                        padding-right: 10px;
                        i{
                            color: $maincolor2;
                            margin-right: 3px;
                        }
                        &.seen{float: right;}
                    }
                    &::after{
                        content: "";
                        position: absolute;
                        width: 0;
                        height: 0;
                        right: 0;
                        top: -15px;
                        border-bottom: 15px solid $overlaycolor1;
                        border-right: 15px solid transparent;                     
                    }
                    &::before{
                        content: "";
                        position: absolute;
                        width: 0;
                        height: 0;
                        left: 0;
                        top: -15px;
                        border-bottom: 15px solid $overlaycolor1;
                        border-left: 15px solid transparent;                        
                    }
                }
                .image-inner{
                    position: relative;
                    @extend %normal-image-style;
                    box-shadow: 1px 1px 4px 1px #777;
                    transition: all 0.3s ease-in-out;
                    overflow: hidden;
                    &::before{
                        position: absolute;
                        top: 0;
                        left: -75%;
                        z-index: 2;
                        display: block;
                        content: '';
                        width: 50%;
                        height: 100%;
                        background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
                        background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
                        -webkit-transform: skewX(-25deg);
                        transform: skewX(-25deg);
                    }
                    &:hover{
                        box-shadow: 1px 1px 10px 1px #444;
                    }
                    &:hover::before{
                        -webkit-animation: shine .75s;
	                    animation: shine .75s;
                    }
                    img{@extend %normal-image-style;}
                }
                @include responsive(medium-screen){height: 203px;}
                @include responsive(tablet-screen){height: 190px;}
            }
            /* newsbox info style */
            .info{
                h4{
                    text-transform: capitalize;
                    color: $maincolor1;
                    margin-bottom: 2px;
                }
                span{
                    color: $maincolor2;
                    font-size: $fontsize7;
                    margin-right: 1px;
                    padding: 3px 5px 3px 0;
                    text-transform: capitalize;
                }
                p{
                    margin-top: 15px;
                    margin-bottom: 20px;
                    color: $graycolor2;
                }
                .go-btn{
                    a{
                        display: inline-block;
                        text-decoration: none;
                        color: $maincolor1;
                        
                        font-size: $fontsize5;
                        text-transform: capitalize;
                        transition: all 0.3s ease-in-out;
                        &:hover{
                            color: $maincolor2;
                            border-color: $maincolor2;
                        }
                        @include responsive(medium-screen){font-size: $fontsize6;}
                        @include responsive(tablet-screen){font-size: $fontsize6;}
                    }
                    a::after{
                        content: "\f061";
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        margin-left: 3px;
                        vertical-align: middle;
                    }
                }/* end news-btn */
            }/* end info */
        }/* end postbox */
    }/* end blogslist */
    /* go to news page button */
    .more-news-btn{@extend %more-btn;}
}
/* end latest blogs */

/* start recent reviews */
.rr{
    @extend %global-sections-css;
    h3{
        @extend %mainhead;
        position: relative;
        z-index: 4;
    }
    .rr-content{
        @extend %center-the-items-inside-me;
        position: relative;
        background-image: url('../images/home/recent-reviews-timeline.jpg');
        background-size: cover;
        image-rendering: -webkit-optimize-contrast;
        @include responsive(big-phone-screen){
            overflow-x: hidden;
            overflow-y: hidden;
            flex-wrap: wrap;
            background-position: center;
            padding-bottom: 30px;
        }
        &::before{
            @extend %circle2;
            top: -51px;
        } 
        &::after{
            @extend %circle2;
            bottom: -51px;
        }         
        .overlay{@extend %overlayBlue;}
        .content{
            position: relative;
            width: 40%;
            padding: 1% 2%;
            @include responsive(big-phone-screen){width: 100%;}
            .review-box{
                position: relative;
                margin: 30px 0;
                border: 1px solid $maincolor2;
                padding: 0 10px;
                transition: all 0.7s ease-in-out;
                h4{
                    text-transform: capitalize;
                    margin: 6px 0 2px 0;
                    border-bottom: 1px solid $maincolor2;
                    padding-bottom: 3px;
                    a{
                        display: block;
                        text-decoration: none;
                        color: $maincolor5;
                        transition: all 0.3s ease-in-out;
                        &:hover{color: $maincolor2;}
                    }
                }/* end h4 */
                .rateNdate{
                    display: block;
                    color: $maincolor2;
                    text-transform: capitalize;
                    font-size: $fontsize7;
                    span{float: left;}
                    .rate{float: right;font-weight: 600;}
                }
                p{
                    display: inline-block;
                    color: $maincolor4;
                }
            }/* end review-box */
        }/* end content */
        .left-content{
            border-right: 1px solid $maincolor2;
            .review-box{
                margin:150px 0 0;
                @include responsive(big-phone-screen){margin: 30px 0;}
            }
            .move{
                transform: translateX(-60px);
                @include responsive(big-phone-screen){transform: translateX(0)}
            }
        }/* end left-content */
        .right-content{
            .review-box{
                margin:80px 0 190px;
                @include responsive(big-phone-screen){margin: 30px 0 0;}
            }
            .move{
                transform: translateX(60px);
                @include responsive(big-phone-screen){transform: translateX(0)}
            }
        }/* end right-content */
    }/* end rr-content */
}
/* end recent reviews */

/* start upcoming games */
.ug{
    @extend %global-sections-css;
    h3{@extend %mainhead;}

    /* upcoming games part */
    .countdown{
        position: relative;
        background-image: url('../images/home/upcoming-game-wallpaper.jpg');
        background-size: cover;
        image-rendering: -webkit-optimize-contrast;
        padding: 100px 0;
        #place-the-countdown-date{display: none;}
        .overlay{@extend %overlayOrange;}
        @include responsive(medium-phone-screen){padding: 85px 0;}
        @include responsive(small-phone-screen){padding: 52px 7px;}
        h4{
            position: relative;
            text-transform: uppercase;
            color: $maincolor4;
            text-align: center;
            span{color: $maincolor1;}
        }
        .countdown-number{
            position: relative;
            float: none;
            margin: auto;
            border-top: 1px solid $maincolor4;
            .demo{
                position: relative;
                h5{
                    text-transform: capitalize;
                    color: $maincolor4;
                    margin-bottom: 20px;
                }
                span{
                    display: block;
                    font-size: $fontsize1;
                    background-color: rgba(44,62,80,0.5);
                    padding: 10px 0;
                    color: $maincolor4;
                    @include responsive(medium-screen){font-size: $fontsize2;}
                    @include responsive(tablet-screen){font-size: $fontsize2;}
                    @include responsive(big-phone-screen){font-size: $fontsize3;padding: 10px 0;}
                    @include responsive(medium-phone-screen){font-size: $fontsize5;}
                    @include responsive(small-phone-screen){font-size: $fontsize7;padding: 7px 0;}
                }
            }/* end demo */
        }/* end countdown-number */
    }/* end countdown */  
}
/* end upcoming games */



@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}

@-webkit-keyframes movingarrow {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(10px);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes movingarrow {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(10px);
    }
    100%{
        transform: translateX(0);
    }
}

%more-btn{
    margin: 35px 0;
    text-align: center;
    a{
        text-decoration: none;
        color: $maincolor5;
        font-size: $fontsize4;
        text-transform: capitalize;
        padding: 8px 50px;
        background-color: $maincolor6;
        transition: all 0.2s ease-in-out;
        @include responsive(medium-screen){font-size: $fontsize5;}
        @include responsive(big-phone-screen){font-size: $fontsize5;}
        @include responsive(medium-phone-screen){font-size: $fontsize6;}
        i{
            font-size: $fontsize8;
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
        &:hover{
            color: $maincolor2;
            i{
                -webkit-animation: movingarrow 1s ease-in-out infinite; /* animation name - duration - moving style - looping time */
                animation: movingarrow 1s ease-in-out infinite;                
            }
        }
    }/* end a */    
}/* end more-btn */

/* placeholders */
%mainhead{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: $maincolor1;
    span{
        color: $maincolor2;
        border-bottom: 1px solid $maincolor2;
    }
}

%myslidernav{
	font-size: $fontsize7;
	text-transform: uppercase;
	background-color: #fff;
	width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
	position: absolute;
	top: 180px;
	border-radius: 50%;
	transition: all 0.3s ease-in-out;
	color: $maincolor1;
	z-index: 8;
	&:hover{color: $maincolor2;}
    @include responsive(medium-screen){
        width: 70px;
        height: 70px;
        line-height: 70px;
    }
    @include responsive(tablet-screen){
        width: 70px;
        height: 70px;
        line-height: 70px;
    }  
    @include responsive(big-phone-screen){
        line-height: $fontsize8;
        width: 55px;
        height: 55px;
        line-height: 55px;
    }     
}